﻿@model ImageHub.Core.ViewModels.ImageCatalog.UpdateEntriesViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Latest updates</h2>

@if (!Model.UpdateEntries.Any())
{
    <p>No images in database</p>
}
else
{
    @:<div class="row" style="margin-top: 50px">
        foreach (var updateEntry in Model.UpdateEntries)
    {
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 text-center" style="padding:10px; font-size:14px">
            <a href="@updateEntry.ImageFile">
                <img src="@updateEntry.ThumbnailFile" alt="" data-toggle="tooltip" title="@updateEntry.Description" class="img-thumbnail" style="width: 80px; height: 80px" />
            </a>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="overflow: hidden; white-space: nowrap">
                    <span class="label label-info">Uploaded by</span><br />@updateEntry.UploadedBy
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="overflow: hidden; white-space: nowrap">
                    <span class="label label-info">Uploaded at</span><br />@updateEntry.Uploaded
                </div>
            </div>
        </div>
    }
    @:</div>
}
